
@import "styles/global/template";

.wrapper {
  .content {
    padding: 100px 0;

    .beer__container {
      grid-template-columns: 400px 1fr;
      align-items: start;

      .beer__image {
        position: relative;
        height: 500px;
        width: 100%;
        border-radius: $medium-radius;
        border: 1px solid $gray-90;
      };
    }
  };
};
