$black-90: #333333;
$black-80: #4f4f4f;

$gray-110: #7F7F7F;
$gray-100: #a3a3a3;
$gray-95: #BEBEBE;
$gray-90: #dddddd;
$gray-30: #E3E3E3;

$white-100: #ffffff;
$white-90: #FBFBFD;

$red-100: #f1595e;

$red-20: #f1595e72;
$red-10: #F44336;

$pink-30: #FFD1D1;

$green-100: #2DCB63;
$green-90: #4ebe93;
$green-20: #4ebe937e;

$blue-100: #0085FF;
$blue-30: #03103C;

$yellow-100: #FFC700;



