@font-face {
	font-family: "TTNorms";
	src: url("../fonts/TTNorms-Regular.otf");
	font-weight: 100;
	font-display: swap;
}
@font-face {
	font-family: "TTNorms-Bold";
	src: url("../fonts/TTNorms-Bold.otf");
	font-weight: 100;
	font-display: swap;
}
@font-face {
	font-family: "TTNorms-Medium";
	src: url("../fonts/TTNorms-Medium.otf");
	font-weight: 100;
	font-display: swap;
}
@font-face {
	font-family: "TTNorms-Light";
	src: url("../fonts/TTNorms-Light.otf");
	font-weight: 100;
	font-display: swap;
}
